#tdb-peremption{
	/*color: #a91515;*/
	color: white;
	background-color: #0b0e2b;
	border-collapse: collapse;
	margin: auto;
	margin-top: 20px;
}
#tdb-peremption th{
	padding: 10px;
}
#tdb-peremption td{
	border: dotted 1px rgba(0,0,0,0.3);
	padding: 1vw;
	text-align: center;
}
#tdb-field{
	margin: auto;
	margin-top: 100px;
	text-align: center;
}
.black{
	background-color: #444444;
}
.red{
	background-color: red;
}
.orange{
	background-color: orange;
}
.green{
	background-color: green;
}