<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons start>
  		<button ion-button menuToggle>
  			<ion-icon name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!--<button ui-sref="ajoutProduit"  class="custom-button">Ajouter</button>-->
	<table id="tdb-peremption">
			<tr><th>Aliment</th><th>Type</th><th>Date de péremption</th><th>Nb de j restants</th></tr>
			<tr (click)="peremptionService.deleteProduct(data.date)" *ngFor="let data of peremptionService.foodData" [ngClass]="{black: 'black'==peremptionService.getProductStatus(data.date),red: 'red'==peremptionService.getProductStatus(data.date),green:'green'==peremptionService.getProductStatus(data.date),orange:'orange'==peremptionService.getProductStatus(data.date)}"><td>{{data.name}}</td><td>{{data.type}}</td><td>{{data.date|date:"dd-MM-yyyy"}}</td><td>{{(peremptionService.getNbJours(data.date))}}</td><td><img width="50" src="assets/image/{{data.type}}.png" alt="fish"/></td></tr>
	</table>
	<form id="tdb-field">
		<ion-item class="field"> 
			<ion-label>Aliment :</ion-label><br>
			<ion-input type="text" name="name" [(ngModel)]="peremptionService.field.name"></ion-input>
		</ion-item>
		<ion-item class="field"> 
			<ion-label>Type :</ion-label><br>
			<ion-select name="type" [(ngModel)]="peremptionService.field.type">
				<ion-option *ngFor="let type of peremptionService.foodTypes ">{{type}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item class="field"> 
			<ion-label>Date :</ion-label><br>
			<ion-datetime name="date" displayFormat="DD/MM/YYYY" [(ngModel)]="peremptionService.field.date"></ion-datetime>
		</ion-item>
		<div padding>
			<button ion-button (click)="peremptionService.updateData()">Valider</button>
		</div>
	</form>
</ion-content>
