.container{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
	background-color: #EEEEEE;
	box-shadow: 2px 2px 2px gray;
}
.square{
	width: 10px;
	height: 10px;
	background-color: red;
	margin-left: 20px;
	margin-bottom: 17px;
	border: solid 1px #ab1717;
}
.month{
	color: #ff8214;
	font-weight: 100;
	margin-bottom: 10px;
	margin-left: 20px;
}
#hist-container{
	margin-top: 20px;
}
#hist{
	//width: 80%;
}
#hist-field{
	margin-top: 50px;
	text-align: center;
}
#hist-field button{
	margin-top: 20px;
}
.field input,.field select{
	margin: auto;
	color: black;
	border: none;
	/*background: #0b0e2b;*/
	width: 50%;
	max-width: 300px;
}
.field select{
	padding: 5px 40px 5px 40px;
}
.field input[type="submit"]{
	color: black;
	background-color: transparent;
	border: solid 2px black;
	border-radius: 5px;
	margin-top: 20px;
	padding: 3px;
	width: initial;
}
.inline-block{
	display: inline-block;
}
.block{
	width: 100%;
}
.vertical-align{
	vertical-align: middle;
}
.center{
	text-align: center;
}
.marginAuto{
	margin: auto;
}